Assets/VolumetricLines.meta
Assets/VolumetricLines/
Assets/WoLfulus.meta
Assets/WoLfulus/
*.vs/
Assets/XInputDotNet.meta
Assets/XInputDotNet/
Assets/OutlineEffect.meta
Assets/OutlineEffect/
Builds/
Library/
obj/
Packages/
Projectsettings/
Temp/
*.csproj
*.sln
*.userprefs
Assets/Shaders/Uniform.shader.meta
Assets/Shaders/Uniform.shader
Assets/Shaders/Silhouetted Diffuse.shader.meta
Assets/Shaders/Silhouetted Diffuse.shader
Assets/Shaders/Silhouetted Bumped Diffuse.shader.meta
Assets/Shaders/Silhouetted Bumped Diffuse.shader
Assets/Shaders/Silhouette Only.shader.meta
Assets/Shaders/Silhouette Only.shader
